.showproduct__container { 
  width: 100%;
  position: relative;
  min-width: 600px;
  margin-bottom: 50px;
}

.showproduct__container-searchbar { 
  width: 70%;
  margin: auto;
  padding: 20px 0;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;

  & input {
    border: solid 2px var(--primary-boderColor);
    outline: none;
    width: 60%;
    min-width: 500px;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.6rem;
    box-shadow: var(--primary-boxshadow);
  }
}

.showproduct__container-listItem { 
  width: 70%;
  min-width: 600px;
  margin: auto;
}

.showproduct__table-body { 
  background: var(--white-background);
  box-shadow: var(--primary-boxshadow);
  padding: 15px;
  width: 100%;
  border-radius: 8px;
  min-height: 240px;
  position: relative;
}

.showproduct__table-body-cards { 
  width: 100%;
}

.table-body-card-header {
  & tr { 
    background-color: var(--label-backgroundColor);
  }

  & th { 
    padding: 5px;
    color: var(--boldfont-color);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: default;
    text-align: center;

    &:first-child { 
      border-top-left-radius: 8px;
   }

    &:last-child { 
    border-top-right-radius: 8px;
    }
  }
}

.table-body-card-body { 
  width: 100%;
  
  & tr { 
    &:hover { 
      background-color: var(--sucess-bacground);
    }
  }

  & td {
    overflow: hidden;
    padding: 5px;
    cursor: pointer;
    text-align: center ;
    border: solid 1px #ccc;
  }
}

.product-item-Hide { 
  display: none;
}

.showproduct__container-listItem-table { 
  position: relative;
}

.deleteFolder { 
  border: none;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: -20px;
}