@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

:root { 
  --primary-background: #f8f8f8;
  --white-background: #fff;
  --primary-boxshadow: rgba(136, 140, 145, 0.534) 0px 2px 3px 0px;
  --input-boxshadow: #4020FF 0px 0px 0px 1px inset, #e7e1ff 0px 0px 0px 1px;
  --submit-button: #46a5ff;
  --submit-buttonShadow: #6eb4f6 0px 3px 8px 0px;
  --submit-colorFont: #fff;
  --primary-colorFont: #000;
  --primary-boderColor: #E2E8F0;
  --label-color: #4020FF;
  --label-backgroundColor: #e7e1ff;
  --sucess-bacground: #daffe0;
  --sucess-color: #1e9933;
  --fail-background: #ffdada;
  --fail-color: #d80000;
  --warning-color: rgb(175, 175, 0);
  --warning-background: #f8f4c3;
  --notification-boxshadow: 0 3px 3px rgba(64, 64, 64, 0.16), 0 3px 6px rgba(0,0,0,0.23);
  --boldfont-color: #1e3050;
}

* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5% !important;
}

body { 
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.6rem !important;
  background: var(--primary-background);
  overflow-x: hidden
}

::-webkit-scrollbar { 
  width: 8px;
}

::-webkit-scrollbar-track { 
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#9198e5, #4020FF);
  border-radius: 4px;
}