.addproduct__container { 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background);
  background: #001c40;
  filter: blur(5);
  position: relative;
}

.backtohomeBtn { 
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: var(--primary-boxshadow);
  
  & button { 
    border: solid 1px var(--primary-boderColor);
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    border-radius: 8px;
  }
}

.BackBtnIco { 
  margin-right: 10px;
}

.addproduct__box { 
  background-color: var(--white-background);
  padding: 10px 30px;
  box-shadow: var(--primary-boxshadow);
  border-radius: 8px;
  min-height: 450px;
  min-width: 700px;

  & > div:not(:last-child) { 
    border-bottom: solid 1px var(--primary-boderColor);
    margin-bottom: 5px;
    padding: 15px 0 8px 0;
  }

  & > div:first-child { 
    border: none;
  }
}

.addproduct__title { 
  text-align: center;
  padding: 0 !important;
  cursor: pointer;
  margin-bottom: 20px !important;
  color: #051336;
}

.input__product-Name-Id { 
  display: grid;
  grid-template-columns: 50% 50%;
}

.input__product-Name, .input__product-ID {
  position: relative;
  padding-top: 15px;

  & label {
    margin-right: 10px;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    top: -20px;
    color: var(--label-color);
    background-color: var(--label-backgroundColor);
    padding: 5px;
    border-radius: 4px 10px;
  }

  & input { 
    padding: 8px;
    border: solid 2px #E2E8F0;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 100;
    outline: none;
    width: 90%;
    &:focus { 
      box-shadow: var(--input-boxshadow);
    }
    &::placeholder { 
      font-size: 1.3rem;
    }
  }
}

.input__product-upload {
  padding-top: 25px;
  display: block;
  position: relative;

  & > label, & > span { 
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    top: 0;
    color: var(--label-color);
    background-color: var(--label-backgroundColor);
    padding: 5px;
    border-radius: 4px 10px;
    margin-top: 2px;
  }

  &:not(:last-child) { 
    margin-bottom: 10px;
  }
}

#file-upload-button { 
  border: solid 1.5px var(--primary-boderColor);
  background-color: #ccc;
}

.selectFile { 
  padding-top: 20px;
  cursor: pointer;
  opacity: .8;
  margin-left: 20px;

  &:hover { 
    opacity: 1;
  }

  &::-webkit-file-upload-button {
    font-size: 1.6rem;
    cursor: pointer;
    border: solid 1px var(--primary-boderColor);
    border-radius: 4px;
    padding: 5px;
  }

}

.input__product-upload-folderName {

  & input { 
    border: solid 1.5px #E2E8F0;
    padding: 10px;
    border-radius: 4px;
    outline: none;

    &:focus {
      box-shadow: var(--input-boxshadow);
    }
  }

  & button {
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
    background-color: var(--submit-button);
    cursor: pointer;
    color: var(--submit-colorFont);
    opacity: .8;
    float: right;
    box-shadow: var(--submit-buttonShadow);
    margin: 5px 0;

    &:hover { 
      opacity: 1;
      box-shadow: var(--submit-buttonShadow);
    }
  }
}

.Manufacturing {

  & span { 
    font-weight: 600;
  }
}

.Manufacturing__Cards { 
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 10px;
  margin-top: 20px;
}

.input_product-upload-Card {
  position: relative;
  padding-top: 10px;

  & > label { 
    position: absolute;
    top: 0;
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.UploadSuccessed, .UploadFailed { 
  position: absolute;
  right: 0;
  top: 10px;
  background: var(--white-background);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  display: none;
}


.Notification-Message { 
  position: relative;
  margin-left: 10px;
}

.UploadSuccessed { 
  color: var(--sucess-color);
  background: var(--sucess-bacground);
  font-weight: 500;
  border-left: solid 5px var(--sucess-color);
}

.UploadFailed { 
  color: var(--fail-color);
  background: var(--fail-background);
  font-weight: 500;
  border-left: solid 5px var(--fail-color);
}

.fa-circle-exclamation, .fa-circle-check { 
  position: absolute;
  right: 10px;
  text-align: center;
}

.activeNotification {
  display: flex;
  z-index: 1;
  animation: showNotification .8s ease forwards;
  @keyframes showNotification {
    0% {
      transform: translateX(-30%);
    }
    100% {
      transform: translateX(0px);
    }
  }
}